@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-weight: 500;
}

:root {
    --color-cyan: hsl(158, 36%, 37%);
    --color-dark-cyan: hsl(158, 35%, 22%);
    --color-cream: hsl(30, 38%, 92%);

    --color-very-dark-blue: hsl(212, 21%, 14%);
    --color-dark-grayish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);

    --font-fraunces: 'Fraunces', serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-cream);
}

.container {
    background-color: var(--color-white);
    margin: 2em 1em;
    border-radius: 1em;
}

.container__image-mobile {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.container__image-desktop {
    display: none;
}

.container__description {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.description-title {
    color: var(--color-dark-grayish-blue);
    font-family: var(--font-montserrat);
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 1em;
    letter-spacing: 0.3em;
}

.description-name {
    color: var(--color-very-dark-blue);
    font-family: var(--font-fraunces);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.description-text {
    color: var(--color-dark-grayish-blue);
    font-family: var(--font-montserrat);
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 1em;
}

.description__price {
    display: flex;
    align-items: center;
    gap: 1em;
}

.price-now {
    color: var(--color-cyan);
    font-family: var(--font-fraunces);
    font-size: 30px;
    font-weight: 700;
}

.price-old {
    color: var(--color-dark-grayish-blue);
    font-family: var(--font-montserrat);
    text-decoration: line-through;
}

.description-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--color-cyan);
    color: var(--color-white);
    font-family: var(--font-montserrat);
    font-weight: 700;
    border: solid 1.2em var(--color-cyan);
    border-radius: 0.5em;
    margin-top: 1em;
}

.description-button:active {
    background-color: var(--color-dark-cyan);
    border: solid 1em var(--color-dark-cyan);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width:1440px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        max-width: 40vw;
    }

    .container__description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container__image-mobile {
        display: none;
    }

    .container__image-desktop {
        display: block;
        width: 20vw;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }

}